---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionHeader from '../components/SectionHeader.astro';
import ContentGrid2 from '../components/ContentGrid2.astro';
import Sponsors from '../components/Sponsors.astro';
import Statistics from '../components/Statistics.astro';
import Speakers from '../components/Speakers.astro';
import TicketsList from '../components/TicketsList.astro'
import Footer from '../components/Footer.astro';

const data = await fetch("https://mbunnlwvlrpswztiejnm.supabase.co/rest/v1/tickets", {
	method: "GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1idW5ubHd2bHJwc3d6dGllam5tIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY1NzgwMTcsImV4cCI6MjAxMjE1NDAxN30.NcKi6QvBBpwv13zB6TnEVaPc9uplsjTnuY2rQp3PfGU"	
	}
}).then((res) => res.json());

console.log(data);
---

<Layout title="UX Copenhagen - Buy tickets", meta_description="purchase and browse tickets">
	<Header/>
	<SectionHeader section_title="Buy ticket for 2024 event"/>
	<!--ContentGrid2/-->
	<section>
		{
			data.map((ticket) => {
				return <TicketsList data={ticket}/>
			})
		}
	</section>
	<SectionHeader section_title="Sponsors"/>
	<Sponsors/>
	<!--Statistics/>
	<Speakers/-->
	<Footer/>
</Layout>

<style>
	section {
		width: calc(70% + 60px);
		margin: 30px auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-content: center;
		gap: 30px;
	}
</style>