---

---

<div class="coc">
    <p>We expect all attendees, speakers, sponsors, partners, staff, and volunteers participating at UX Copenhagen to agree with the following code of conduct.</p>
    <p>We will not tolerate harassment or discrimination in any form at UX Copenhagen.</p>
    <p>The conference WILL be a safe environment for everybody regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, religion. We are expecting all participants to help ensure a safe environment for everybody, both at the venue, at workshop venues, on any online media, and at all conference-related social events.</p>
    <p>Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, any online media, or at any conference-related social events.</p>
    <p>Conference participants violating these rules will may be sanctioned or expelled from the conference without a refund.</p>
    <p>Our venues are always handicap accessible. If you have special needs, allergies, or need help in any way, please contact any of the staff or volunteers, or email us at hello@uxcopenhagen.com.</p>
    <p>In case of emergency, contact police, ambulance, or the fire department by calling 112 (urgent). In non-urgent cases, please contact anyone from the venue or UX Copenhagen team.</p>
</div>

<style>
    .coc {
        width: 70%;
        margin: 30px auto;
        padding: 30px;
        background-color: white;
        border: 1px solid #999;
    }
</style>