<div class="content_wrapper">
        <h3>
            About the conference
        </h3>
        <h4>What is UX Copenhagen?</h4>
        <div class="img_grid">
            <img src="../img/IMG_2792.JPG">
            <img src="../img/IMG_2808.JPG">
            <img src="../img/IMG_3616.JPG">
            <img src="../img/IMG_3770.JPG">
        </div>
        <p>Welcome to the UX Copenhagen conference - Denmark's most inspirational human experience conference, covering subjects like user experience, content, strategy, and research under a new theme for each year. We will present you with two days filled with superb content from 20+ local and international speakers, hands-on workshops, inspiration, networking, new knowledge, and new insights.</p>
        <h4>The theme for UX Copenhagen 2024</h4>
        <p>The theme for UX Copenhagen 2024 is: Degrowth and Consumerism.</p>
        <p>Angelos Arnis, the closing keynote for UX Copenhagen 2023 stated very bluntly “There is no planet B”.</p>
        <p>For far too long, we have been living in a world that applauds and encourages continuous growth, expansion, selling, and manipulation. It's a world of over production and over consumption, but we're running out of resources. Business as usual will not cut it anymore.</p>
        <p>On March 20-21, 2024, we'll be discussing climate change, consumerism, and waste. We'll talk about degrowth, and about unlearning decades of harmful production, development and processes. We'll have talks about how consumerism will need to change in order for the planet to survive. We'll show some practical examples of work we have already done, and open the discussion about what we as designers can do to make sustainable changes for the better and create fundamental, systemic change.</p>
        <p>The conference will be a hybrid event - in-person and online. We will be hosting hands-on, live workshops; and live Q&A sessions with each of this year's speakers. There will be raffles, book sales, and lots of opportunity to network.</p>
        <h4>Call For Papers/Talk proposals</h4>
        <p>Our Call For Papers for UX Copenhagen is open each year from June 1st to September 1st. We are looking forward to hearing from you! Please send your written submission to hello@uxcopenhagen.com</p>
        <h4>Previous talks</h4>
        <p>In case you missed out, some of the talks from previous years are available on our YouTube channel for free viewing. The full recordings, including Q&A sessions and the talks not found on YouTube are available for purchase - please visit our shop for more information.</p>
        <h4>Online networking and interaction</h4>
        <p>We're doing everything we can to support networking during our virtual events.</p>
        <p><strong>ROUND TABLE SESSIONS</strong> - Intimate online rooms with few participants. Get to know the speakers!
            Most of this year's speakers, along with a number of previous speakers, will be hosting small 1-hour group sessions with only 6-8 participants.
        </p>
        <p><strong>CHATROOMS WITH SOME OF OUR SPONSORS AND PARTNERS</strong> - Hop in for some networking and fun activities during our breaks!
            Some of our partners will be hosting chatrooms and virtual “booths” with different activities for you to take part in during our breaks. Check out a demo of their products, join in on raffles and other give-aways, and network with other conference participants.
            In 2020, we also started a new initiative: a series of conversations with what we call “Conversations with UX Copenhagen”.
        </p>
        <h4>Who attends UX Copenhagen?</h4>
        <p>Everyone is welcome, and it's not just a conference for UX'ers and designers! The talks are relevant to anyone working in tech, working with product design, both digital and physical, people working with communication, and creatives of all kinds.</p>
        <p>Our speakers and participants are a fantastic mixture of international and local Danish UX experts, marketing professionals, digital managers, designers, innovators, strategists, researchers, and others interested in the field. The conference is run by Helle Martens' tiny indie business team, and fueled by a strong passion for the field of UX and design.</p>
        <p>We look forward to welcoming you to one of the world's greatest communities, and two days filled with superb content, inspiration, networking, new knowledge, and new insights.</p>
        <p>Some of the job titles our participants have include:</p>
        <ul>
            <li>design leaders</li>
            <li>ux designers</li>
            <li>ux researchers</li>
            <li>ux writers</li>
            <li>content strategists</li>
            <li>marketers</li>
            <li>web entrepreneurs</li>
            <li>graphical designers</li>
            <li>social media managers</li>
            <li>content designers</li>
            <li>content strategists</li>
            <li>content creators</li>
            <li>software developers</li>
            <li>tech leaders</li>
        </ul>
        <h4>A little background</h4>
        <p>The conference started in 2014 after an accident and a series of events that led to Helle Martens being laid off her job as senior UX'er. She decided to start her own company, and started joking that she wanted to host a conference on UX and design. About a year later, things suddenly fell into place, and she sold 144 tickets to her first event in March 2015.</p>
        <p>2023 will be the 9th UX Copenhagen® conference. The themes so far have been: Customer Experience; Designing for Emotions and Trust; Designing for Empowerment; Ethics and the Role of the User Experience Designer; Consent & Privacy, and Influence & Designing for Good, Commoning, Creating a Culture Change, and for 2023, the theme is “Invisibility”</p>
        <p>Every year, the conference has about 200 participants of whom 76% are international. 50% of the audience are “UX Designers” (interaction designers, service designers, UI designers, content designers etc.), and 25% are managers (UX Lead, Head of Design, Head of Software Development, etc.). The rest are marketing folks, graphical designers, and other creatives. It's a great networking event with a really wonderful crowd of participants and speakers.</p>
        <p>Helle runs the conference pretty much on her own. She has certain principles, for example she insists on having at least 50% women speakers, and as many different points of view as possible presented on stage. She always has at least one “new/junior speaker” on stage each year, and tries to promote charities, new startups, and initiatives that promote UX and doing good. The budget for the conference is solely based on ticket sales and (very few) company sponsorships, so she doesn't have a lot to give. She does her best to share what she can though, and is adamant that both the speakers and she feels that what they agree upon is fair.</p>
        <h4>Code of Conduct</h4>
        <p>UX Copenhagen is, and shall remain, a safe place for different voices to be heard. Please find our COC <a href="conduct.html">here</a></p>
</div>

<style>
    .content_wrapper {
        width: 70%;
        margin: 30px auto;
        background-color: white;
        border: 1px solid #999;
        padding: 30px;
    }
    .img_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
    img {
        width: 100%;
    }
    h3 {
        font-family: "Michroma", sans-serif;
    }
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    .links a {
        padding: 15px 45px;
        background-color: rgb(79,135,160);
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: "Michroma", sans-serif;
    }
    @media screen and (max-width: 1200px) {
        .img_grid {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>