<div class="content_wrapper">
        <h3>
            UX Copenhagen® is Denmark's most inspirational human experience conference!
        </h3>
        <div class="img_grid">
            <img src="../img/IMG_2792.JPG" alt="ux cph conference">
            <img src="../img/IMG_2808.JPG" alt="ux cph conference">
            <img src="../img/IMG_3616.JPG" alt="ux cph conference">
            <img src="../img/IMG_3770.JPG" alt="ux cph conference">
        </div>
        <strong>For far too long, we have been living in a world that applauds and encourages continuous growth, expansion, selling, and manipulation. It's a world of over production and over consumption, but we're running out of resources. Business as usual will not cut it anymore.</strong>
        <p>As last year's closing keynote, Angelos Arnis put it “There is no planet B.” On March 20-21, 2024, we'll be discussing climate change, consumerism, and waste. We'll talk about degrowth, and about unlearning decades of harmful production, development and processes. We'll have talks about how consumerism will need to change in order for the planet to survive. We'll show some practical examples of work we have already done, and open the discussion about what we as designers can do to make sustainable changes for the better and create fundamental, systemic change.</p> 
        <p>UX Copenhagen connects people from all over the world for essential conversations. Our speakers are a wonderful mix of professionals, ranging from juniors new to the field to big names in the field. Each year, we have around 200 participants, 75% of whom are international guests. It will be held entirely in English. Attendees are UX professionals, digital leaders, digital strategists, and marketing professionals from all parts of the world - and those who work with and around them.</p> 
        <div class="img_grid">
            <img src="../img/IMG_2792.JPG" alt="ux cph conference">
            <img src="../img/IMG_3616.JPG" alt="ux cph conference">
            <img src="../img/IMG_2977.JPG" alt="ux cph conference">
            <img src="../img/IMG_3770.JPG" alt="ux cph conference">
        </div>
        <p>The 2024 event will be the 10th consecutive UX Copenhagen conference. The conference respects principles like having a diverse range of speakers, and presenting as many different points of view as possible on stage. We support charities, new startups, and initiatives that promote UX and doing good.</p> 
        <p>The conference will be a hybrid event - in-person and online. We will be hosting hands-on, live workshops; and live Q&A sessions with each of this year's speakers. There will be raffles, book sales, and lots of opportunity to network.</p>
        <p>Feel free to join our Slack community already: https://join.slack.com/t/uxcopenhagen/shared_invite/zt-1vhjaw5o0-ZVuXTNj~mxdKv4jFOZCX_w</p>
        <p>The venue will be Big Bio Nordhavn, Hamborg Plads 6 in Nordhavn. It's a short walk from Nordhavn Metro station, and a few minutes more to Nordhavn train station.</p>
        <div class="links">
            <a href="profil.html"><i class="fa-solid fa-book"></i> Read More</a>
        </div>
</div>

<style>
    .content_wrapper {
        width: 70%;
        margin: 30px auto;
        background-color: white;
        border: 1px solid #999;
        padding: 30px;
    }
    .img_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
    img {
        width: 100%;
    }
    h3 {
        font-family: "Michroma", sans-serif;
    }
    .links a {
        padding: 15px 45px;
        background-color: rgb(79,135,160);
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: "Michroma", sans-serif;
    }
    @media screen and (max-width: 1200px) {
        .img_grid {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>