---
//interface Props {
//	page: string;
//}

//const { page } = Astro.props;
---

<header>
	<div class="banner">
		<div class="logo">
			<a href="https://animated-pastelito-852171.netlify.app/index.html"><img src="../../img/logo.png" alt="ux cph logo"></a>
		</div>
		<nav class="navmenu">
			<ul>
				<li><a href="https://animated-pastelito-852171.netlify.app/index.html">Home</a></li>
				<li><a href="https://animated-pastelito-852171.netlify.app/profil.html">About</a></li>
				<li><a href="https://animated-pastelito-852171.netlify.app/tickets.html">Tickets</a></li>
				<li><a href="https://animated-pastelito-852171.netlify.app/shop.html">Shop</a></li>
				<!--li><a href="#">History</a></li-->
			</ul>
		</nav>
		<div class="caption_item">
			<div class="caption_box">
				<div class="caption">
					<h2>Degrowth & Consumerism</h2>
					<h2 class="orange">March 20-21 2024</h2>
				</div>
			</div>
		</div>
	</div>
</header>

<style>
.banner {
	background-image: url("../../img/bannerbg.webp");
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 70vh;
}

.logo img {
	width: 245px;
}

.orange {
	color: #f29f23;
}

.navmenu ul {
	display: flex;
	gap: 10px;
	list-style: none;
	justify-content: right;
	position: fixed;
	right: 30px;
	z-index: 2;
}

.navmenu a {
	font-family: "Michroma", sans-serif;
	letter-spacing: 2px;
	color: black;
	background-color: #f29f23;
	/*border: 2px solid black;*/
	text-decoration: none;
	padding: 10px 25px;
	transition: all .3s;
}

.navmenu a:hover {
	color: white;
}

.caption_box {
	position: relative;
	background-color: #f29f23;
	margin-left: -30px;
	height: 160px;
	width: 30%;
}

.caption_item {
	grid-column: 1 / span 2;
}

.caption {
	background-color: rgb(79, 135, 160);
	color: white;
	font-size: 32px;
	font-family: "Michroma", sans-serif;
	letter-spacing: 3px;
	line-height: 50px;
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 30px;
}

.caption h2 {
	margin-top: 0;
	margin-bottom: 0;
}
</style>
