---

---

<h3><a class="newsletter_toggle" href="#"><i class="fa-solid fa-envelope"></i> Sign up for our News letter</a></h3>
<p>and follow us on Social Media</p>
<p>We send out newsletters approximately every two to four weeks, and mostly from August to March. We'd love to have you join us!</p>
<form>
    <input type="text" value="you e-mail">
</form>
<input type="submit" value="Subscribe">

<style>
    h3 {
        margin-top: 0;
        color: white;
        font-family: "Michroma", sans-serif;
    }
    input[type=text] {
        width: calc(100% - 30px);
        padding: 15px;
    }
    input[type=submit] {
        width: 100%;
        background-color: rgb(79, 135, 160);
        border: 0;
        padding: 15px 30px;
        margin-top: 10px;
        font-family: "Michroma", sans-serif;
        letter-spacing: 2px;
    }
    a {
        color: black;
        text-decoration: none;
    }
</style>