---

---

<div class="privacy">
    <p>Effective as of may 25, 2018. We respect your privacy, and we do our best to protect your personal data. We only collect ordinary personal data such as name, last name, and similar. We do not share your data with third parties unless you have given us permission to do so, or if we are required by law.</p>
    <p>We will never misuse your data, and it is important for us to be open about how we use your data. This document outlines what data we collect on uxcopenhagen.com, and how we use this data.</p>
    <p>The company that is responsible for controlling your personal data:<br>

        Company name: hellemartens.com<br>
        Address: Hyldemosen 87, 2730 Herlev<br>
        CVR-nr.: DK36248505<br>
        Website address: uxcopenhagen.com<br><br>
        
        Contact details:<br>
        Helle Martens<br>
        Phone number: +4561314238<br>
        Email: info (at) hellemartens.com
    </p>
    <h3>General Terms</h3>
    <p><strong>DISCLAIMER</strong><br>
        We take your privacy and data protection seriously.
        We do our best to make sure that your data is processed according to the data protection laws that are valid in Denmark, including the GDPR (General Data Protection Regulation).
        “Personal data” must be understood in accordance with the definition in the Danish Data Protection Law, and is information about you, or information that can identify you.</p>
    
    <h3>DATA CONTROLLER</h3>
    <p>We are transparent about how we use this data. We collect and process your data for specific purpose and therefore we only collect personal data that is relevant and necessary for a specific purpose. We control and update your personal data and we delete the data when there is no reason for us to keep it. We share your personal data with our suppliers (data processors), and as a starting point we do not pass on this data. We only pass on this data if we are required by law or if we have your consent to pass on your data.When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.</p>
    <h3>TRACKING, INCLUDING COOKIES</h3>
    <p>Purpose and relevance
        A cookie is a small text file sent from our server to your browser and stored on your computer’s hard drive or your mobile device. Cookies mean that you can use the website more efficiently and easily.
        We use cookies on the website to ensure functionality and to collect statistics about visits to the website. In addition, we also use cookies to investigate the use of the website to ensure a good experience and website improvement, as well as to make analysis for targeted marketing.
        We use session cookies.
        You can set your browser to inform you when you receive a cookie so that you always have the opportunity to decide whether you want to accept it. You can also choose to completely turn off this feature, however, the website might not work optimally.</p>
    <h3>COMMENTS</h3>
    <p>An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.
        If you leave a comment on our site, you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.
        If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
        When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.
        If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>
    <h3>EMBEDDED CONTENT FROM OTHER WEBSITES</h3>
    <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
    These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website.</p>
</div>

<style>
    .privacy {
        width: 70%;
        margin: 30px auto;
        padding: 30px;
        background-color: white;
        border: 1px solid #999;
    }
</style>