---
interface Props {
    section_title: string;
}

const { section_title } = Astro.props;
---


<div class="section_header">
    <h2>{section_title}</h2>
</div>

<style>
    .section_header {
        background-color: rgb(79, 135, 160);
        text-align: center;
        box-shadow: 0px 5px 10px black;
    }
    h2 {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 30px;
        color: white;
        font-family: "Michroma", sans-serif;
        letter-spacing: 5px;
    }
</style>