---
const {data} = Astro.props;

//const parseDesc = data.description;

//console.log(data);
---

<div class="shop_item">
    <h4>{data.title}</h4>
    <img src={"../img/" + data.img}  alt="shop ware image">
    {data.instock && <span class="instock">In Stock</span> }
    <div class="price_box">
        <div class="price">
            {data.price > 0 && <Fragment set:html={"<h4 class='price'>Price: " + data.price + ' DKK</h4>'}/>}
        </div>
        <div class="buy">
            <a href={ "https://animated-pastelito-852171.netlify.app/products/" + data.slug}><i class="fa-solid fa-cart-shopping"></i> Buy</a>
        </div>
    </div>    
</div>

<style>
    h4 {
        margin: 0;
        font-family: "Michroma", sans-serif;
    }
    .shop_item {
        background-color: white;
        border: 1px solid #999;
        padding: 30px;
        position: relative;
    }
    .shop_item img {
        width: 100%;
    }
    a {
        background-color: #f29f23;
        color: black;
        text-decoration: none;
        padding: 10px 30px;
        display: block;
        margin-top: 30px;
        font-size: 20px;
        float: right;
        transition: all .3s;
    }
    a:hover {
        color: white;
    }
    .instock {
        background-color: green;
        color: white;
        padding: 10px;
        position: absolute;
        top:110px;
        right: 30px;
    }
    .price_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .price {
        padding-top: 20px;
    }
    @media screen and (max-width: 1200px) {
        .price_box {
            grid-template-columns: 1fr;
        }
    }
</style>