<div class="cont_box">
    <div class="video">
        <iframe src="https://www.youtube.com/embed/r9DaIn9YT4w?si=y78X-hYZ_XsyT3Ie&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="speakers">
        <h3>Call for speakers 2024</h3>
        <p>
            Our call for speakers is open each year from June 1 - Sep 1. Please send an email to conference curator Helle Martens with your proposal: hello@uxcopenhagen.com.
        </p>
        <p>
            <em>2024 Speakers to be announced!</em>
        </p>
    </div>
</div>

<style>
    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    .cont_box {
        width: calc(70% + 60px);
        margin: 30px auto;
        padding: 30px;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .speakers {
        padding: 30px;
        background-color: white;
        border: 1px solid #999;
    }
</style>