<div class="sponsors_box">
    <div class="sponsors">
        <h3>
            2024 Sponsors
        </h3>
        <p>
            UX Copenhagen® is supported by companies from all over the world. Are you interested in sponsoring us? Please reach out to
            hello@uxcopenhagen.com between April 1 - September 1. 
        </p>
        <p>
            The revenue for UX Copenhagen is solely based on ticket sales and (very few) company sponsorships. Each contribution means that we can keep moving forward with the conference, so we're deeply grateful for our sponsors!
        </p>
    </div>
    <div class="sponsors_us">
        <h3>
            We're sponsors too!
        </h3>
        <p>
            UX Copenhagen always donates some of its proceeds to charity. This year, we helped raise money for an AED heart starter to be set up in our local community.
        </p>
        <img src="../img/heart.png">
    </div>
</div>

<style>
    h3 {
        font-family: "Michroma", sans-serif;
    }
    .sponsors_box {
        width: calc(70% + 60px);
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .sponsors, .sponsors_us {
        background-color: white;
        border: 1px solid #999;
        padding: 30px;
        text-align: center;
    }
    .sponsors p, .sponsors_us p {
        text-align: justify;
    }
    .sponsors_us img {
    }
    @media screen and (max-width: 800px) {
        .sponsors_box {
            grid-template-columns: 1fr;
        }
    }
</style>