---
interface Props {
    stat_int: string;
    stat_txt: string;
}

const { stat_int, stat_txt } = Astro.props;
---
<div class="stat">
    <div class="stat_int">{stat_int}</div>
    <div class="stat_txt">{stat_txt}</div>
</div>

<style>
    .stat_int {
        font-size: 40px;
        color: white;
        margin-bottom: 20px;
    }
</style>